#page-search {
    height: 100vh;
    background-color: #F0F0F5;
}

#page-search .content {
    width: 100%;
    height: 100%;
    max-width: 1400px;
    margin: 0 auto;
    padding: 0 30px;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

#page-search .content header {
    width: 100%;
    margin-top: 48px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

#page-search .content header a {
    color: var(--title-color);
    font-weight: bold;
    text-decoration: none;

    display: flex;
    align-items: center;
}

#page-search .content header a svg {
    margin-right: 16px;
    color: var(--primary-color);
}

#page-search .content main{
    width: 100%;
    align-items: center;
    z-index: 2;
}

#page-search .content main form {
    max-width: 616px;
    margin: 0 auto;
}

#page-search .content main form .field-group {
    display: flex;
    flex-direction: row;

    min-width: 600px;
    margin: 0 auto;
}

#page-search .content main form .field {
    display: flex;
    flex-direction: column;
    padding: 4px 0;

    min-width: 300px;
}

#page-search .content main form .field select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    flex: 1;
    background: #F0F0F5;
    border-radius: 8px;
    border: 1px solid #322153;
    padding: 16px 24px;
    font-size: 16px;
    color: #6C6C80;
}

#page-search .content main form .field:nth-of-type(1) {
    margin-right: 8px;
}

#page-search .content main form .field:nth-of-type(2) {
    margin-left: 8px;
}

/* Items */

#page-search .content main form .items-grid {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 8px;
    list-style: none;
    margin-top: 3px;
    margin-bottom: 16px;
}

#page-search .content main form .items-grid li {
    height: auto;
    border-radius: 8px;
    border: 1px solid #000;
    padding: 8px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    text-align: center;

    cursor: pointer;
}

#page-search .content main form .items-grid img{
    max-height: 36px;
}

#page-search .content main form .items-grid li span {
    flex: 1;
    margin-top: 12px;
    font-size: 14px;

    display: flex;
    align-items: center;
    color: var(--title-color)
}

#page-search .content main form .items-grid li.selected {
    background: #E1FAEC;
    border-color: #34CB79;
}

/* ----- */

#page-search .content main span{
    font-family: Roboto;
    font-style: normal;
    font-size: 16px;
    line-height: 19px;

    color: #6C6C80;
}

#page-search .content main .points-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 32px;
    list-style: none;
    margin-top: 48px;
    margin-bottom: 24px;
}
  
#page-search .content main .points-grid li {
    background: transparent;
    height: auto;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: baseline;

    text-align: left;
}

#page-search .content main .points-grid li img {
    width: 400px;
    height: 300px;
}

#page-search .content main .points-grid li .title {
    font-family: Ubuntu;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 41px;

    padding: 30px 0;

    color: #322153;
}

#page-search .content main .points-grid li .items {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 34px;
    padding-bottom: 30px;

    color: #34CB79;
}

#page-search .content main .points-grid li p {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;

    color: #6C6C80;
}


#background {
    width: 100%;
    height: calc(100% - 400px);

    background: #FFF;
    position: absolute;
    top: 400px;
}